@import "tailwindcss";

@theme {
  --font-glo: "Gloock", serif;
  --font-orb: "Orbitron", serif;
  --font-arc: "Archivo Black", serif;
  --font-pro: "Protest Guerrilla", serif;
  --font-press: "Press Start 2P", serif;
  --font-cut: "Cutive Mono", serif;
  --font-lobster: "Lobster", serif;
  --font-audio: "Audiowide", sans-serif;
  --font-retro: "Press Start 2P", serif;
  --font-sig: "Sigmar", sans-serif;
  --font-lobster: "Lobster", sans-serif;
  --font-sed: "Sedgwick Ave Display", cursive;
  --font-ram: "Rammetto One", sans-serif;

  --color-brightPink: #f765a3;
  --color-vibriantPink: #e41f7b;
}

html,
body {
  height: 100%;
  margin: 0;
}

.flyLabel {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2px;
}

.rounded-bg {
  clip-path: circle(60%);
}

/*donut project*/
.tilted {
  transform: skew(10deg);
}
