@import "tailwindcss";

@theme {
  --font-glo: "Gloock", "serif";
  --font-orb: "Orbitron", "serif";
  --font-arc: "Archivo Black", serif;
  --font-pro: "Protest Guerrilla", serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.flyLabel {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2px;
}
