@import "tailwindcss";

@theme {
  --font-glo: "Gloock", serif;
  --font-orb: "Orbitron", serif;
  --font-arc: "Archivo Black", serif;
  --font-pro: "Protest Guerrilla", serif;
  --font-press: "Press Start 2P", serif;
  --font-cut: "Cutive Mono", serif;
  --font-lobster: "Lobster", serif;
  --font-audio: "Audiowide", sans-serif;
  --font-retro: "Press Start 2P", serif;
  --font-sig: "Sigmar", sans-serif;
  --font-lobster: "Lobster", sans-serif;
  --font-sed: "Sedgwick Ave Display", cursive;
  --font-ram: "Rammetto One", sans-serif;
  --font-tit: "Titillium Web", sans-serif;
  --font-grav: "Gravitas One", serif;

  --color-brightPink: #f765a3;
  --color-vibriantPink: #e41f7b;
  --color-neonGreen: #39ff12;
  --color-ourBlue: #0696d3;
  --color-deepPink: #f13a3a;
  --color-char: #404040;
  --color-candy: #ff5781;
  --color-punch: #f25278;
}

html,
body {
  height: 100%;
  margin: 0;
}

.flyLabel {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2px;
}

.rounded-bg {
  clip-path: circle(60%);
}

/*donut project*/
.tilted {
  transform: skew(10deg);
}

/*My Card */
.animated-border-card {
  position: relative;
  border-radius: 0.5rem;
  z-index: 0;
  overflow: hidden;
  background: #fff; /* Add a background to the card */
}

.animated-border-card > * {
  position: relative;
  z-index: 1; /* Ensure card content is above the animated border */
}

.animated-border-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 6px;
  background: linear-gradient(90deg, #39ff12, #a855f7, #06b6d4, #ff4ecd);
  background-size: 300% 300%;
  animation: moveBorder 8s linear infinite;
  z-index: -1;
  border-radius: 0.5rem;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  box-sizing: border-box;
}

@keyframes moveBorder {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}
