@import "tailwindcss";

@theme {
  --font-glo: "Gloock", serif;
  --font-orb: "Orbitron", serif;
  --font-arc: "Archivo Black", serif;
  --font-pro: "Protest Guerrilla", serif;
  --font-press: "Press Start 2P", serif;
  --font-cut: "Cutive Mono", serif;
  --font-lobster: "Lobster", serif;
  --font-audio: "Audiowide", sans-serif;
  --font-retro: "Press Start 2P", serif;
  --font-sig: "Sigmar", sans-serif;
  --font-lobster: "Lobster", sans-serif;
  --font-sed: "Sedgwick Ave Display", cursive;
  --font-ram: "Rammetto One", sans-serif;
  --font-tit: "Titillium Web", sans-serif;

  --color-brightPink: #f765a3;
  --color-vibriantPink: #e41f7b;
  --color-neonGreen: #39ff12;
}

html,
body {
  height: 100%;
  margin: 0;
}

.flyLabel {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2px;
}

.rounded-bg {
  clip-path: circle(60%);
}

/*donut project*/
.tilted {
  transform: skew(10deg);
}

/*My Card */

.animated-border-card {
  position: relative;
  z-index: 0;
  border: 6px solid transparent;
  border-radius: 1rem;
  background: linear-gradient(white, white) padding-box,
    /* Horizontal moving border */
      linear-gradient(
        160deg,
        transparent 0%,
        #39ff14 10%,
        #00ff99 20%,
        #39ff14 30%,
        transparent 40%,
        transparent 100%
      )
      border-box,
    /* Vertical moving border */
      linear-gradient(
        0deg,
        transparent 0%,
        #39ff14 10%,
        #00ff99 20%,
        #39ff14 30%,
        transparent 40%,
        transparent 100%
      )
      border-box;
  background-size: 100% 100%, 200% 100%, 100% 200%;
  background-position: 0% 0%, 0% 0%, 0% 0%;
  background-repeat: no-repeat;
  animation: borderMove 3s linear infinite;
}

@keyframes borderMove {
  0% {
    background-position: 0% 0%, 0% 0%, 0% 0%;
  }
  100% {
    background-position: 0% 0%, 100% 0%, 0% 100%;
  }
}
